body{
    margin:0;
    background-color:#050816;
    font-family:
    "Segoe UI",
    sans-serif;
}
#ladoIzquierdo {
    flex : 3;
    background-image:url("assets/izquierdo.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
#overlay{
    width:100%;
    height:100%;
    background: linear-gradient(
        to right,
        rgba(5,8,22,0.05),
        rgba(5,8,22,0.20),
        rgba(5,8,22,0.80),
        rgba(5,8,22,1)
    );
}
/*lado izquierdo */


/*bienvenida*/
#container {
    display : flex;
    flex-direction : row;
    box-sizing: border-box;
    height: 100vh;
    padding:clamp(8px,1vw,20px);
    gap: clamp(8px, 1vw, 16px);
}
#panelDerecho{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: clamp(20px, 5vw, 40px);
    flex: 2;
}
#bienvenida{
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:#0B1020;
    border-radius:clamp(20px,3vw,30px);
    padding:clamp(20px,4vw,40px);
    box-shadow:
    0px 0px 40px rgba(0,0,0,0.4);
    width:min(100%, 550px);
}
#acciones{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cabecera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo img{
    width:clamp(180px, 22vw, 280px);
}
#cabecera p{
    color:#B6B8C5;
    margin-top:0;
    font-size:1.1rem;
}

.botonMorado{
    height:clamp(50px, 6vh, 65px);
    width:min(100%, 320px);
    border:none;
    border-radius:15px;
    background:
    linear-gradient(
        135deg,
        #7B4DFF,
        #5B3DF5
        );
    color:white;
    font-size:1.2rem;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    }
.botonMorado:hover{
        transform:translateY(-3px);
        box-shadow:
        0px 10px 25px
        rgba(123,77,255,0.5);
    }
    
.crearCuenta{
        height:clamp(50px, 6vh, 65px);
    width:min(100%, 320px);
    background:transparent;
    border:1px solid
    rgba(255,255,255,0.2);
    border-radius:15px;
    color:white;
    font-size:1.2rem;
    cursor:pointer;
    transition:0.3s;
}

#acciones p{
    color:#8B90A5;
    font-size:0.95rem;
    margin-top:20px;
    text-align:center;
}


/*loginn*/
#login {
    display: none;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:clamp(6px,1vh,12px);
    background-color:#0B1020;
    border-radius:clamp(20px,3vw,30px);
    padding:clamp(20px,4vw,40px);
    box-shadow:
    0px 0px 40px rgba(0,0,0,0.4);
    width:100%;
    max-width:800px;
    
}
#email{
    display: block;
}
#contraseña{
    display: block;
}
.titulo{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    box-sizing: border-box;

}
.TituloPrincipal{
    color:#F8FAFC;
    margin:0;
    font-size:clamp(2rem,3vw,3.2rem);
    font-weight:700;
    text-align:center;
    width: 100%;
    font-family:
    "Segoe UI",
    sans-serif;
    text-align:center;
}

.TituloSecundario{
    text-align:center;
    margin:0;
    font-size:clamp(0.95rem,1.2vw,1.1rem);
    font-family:
    "Segoe UI",
    sans-serif;
    font-weight:400;
    color:#94A3B8;
    text-align:center;
}
.cambioPagina{
    width:100%;
    background:#111827;
    padding:5px;
    border-radius:15px;
    margin-bottom:2%;
}
.cambioPagina div{
    display:flex;
    justify-content: space-between;
}
.opcionActiva{
    flex:1;
    height:clamp(45px,6vh,55px);
    border:none;
    border-radius:10px;
    background:
    linear-gradient(
        135deg,
        #7B4DFF,
        #5B3DF5
    );
    color:white;
    font-weight:bold;
}
.opcionInactiva{
    flex:1;
    height:clamp(45px,6vh,55px);
    border:none;
    border-radius:10px;
    background:transparent;
    color:#9CA3AF;
}
.formulario{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:2%;
}
.formulario label{
    color:#E2E8F0;
    font-family:
    "Segoe UI",
    sans-serif;
    font-size:0.95rem;
    font-weight:600;
}
.formulario input{
    height:clamp(40px,5vh,48px);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:12px;
    background:#111827;
    color:white;
    padding:0 15px;
    font-size:1rem;
}
.formulario input::placeholder{
    color:#6B7280;
}

#checkbox{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top: 1%;
    margin-bottom: 1%;
}
#checkbox a{
    color:#8B5CF6;
    text-decoration:none;
}

.loginBoton{
    width:100%;
}

.separador{
    width:100%;
    display:flex;
    align-items:center;
    gap:15px;
    margin-top:2%;
}

.linea{
    flex:1;
    height:1px;
    background:rgba(255,255,255,0.15);
}

.separador span{
    color:#9CA3AF;
    font-size:0.9rem;
}

.sociales{
    display:flex;
    gap:15px;
    margin-top:15px;
    width:100%;
    justify-content: center;

}

.social{
    width:clamp(50px,6vw,60px);
    height:clamp(50px,6vw,60px);
    border:none;
    border-radius:15px;
    background:#111827;
    cursor:pointer;
    transition:0.3s;
}
.social:hover{
    transform:translateY(-3px);
}
.social img{
    width:60%;
    height:60%;
}

.recordarme{
    display:flex;
    align-items:center;
    gap:10px;
    color:#9CA3AF;
}



/*registro*/
#registro {
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:#0B1020;
    border-radius:clamp(20px,3vw,30px);
    padding:clamp(20px,4vw,40px);
    box-shadow:
    0px 0px 40px rgba(0,0,0,0.4);
    width:min(100%, 550px);
}

#validacionContraseña{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:5px;
    width:100%
}

#validacionContraseña p{
    margin: 0;
}


